/**** Reset ****/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

/**** Color variables ****/
:root {
  --primary-blue: #17c3b2;
  --primary-orange: #fbe6c4;
  --light-blue: lightcyan;
  --basic-white: #fef9ef;
  --secondary-red: #fe6d73;
}

body {
  background-color: var(--basic-white);
  padding-bottom: 110px;
}

/***** Typography ******/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  color: var(--primary-orange);
}

h4 {
  color: var(--primary-blue);
  font-size: 1.2rem;
}

/**** Container *****/

.container {
  width: 100vw;
  padding: 20px;
}

/***** Header ******/

#header {
  background-color: #fe6d73;
  color: white
}

/***** Navbar styles ****/


nav {
  width: 100%;
  padding: 20px;
  background-color: white;
  position:fixed;
  bottom: -1px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  width: 50px;
}

.sticky {
  position: fixed;
  top:0;
  width: 100%;
}


/***** Card styles ****/

.card {
  background-color: #FF7B54;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  margin-top: 100px;
}

img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #3DB2FF;
  color: white;
  border-radius: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;

}

/******* Search input *******/

form > input.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px  solid  #7286D3;
}



input::placeholder {
  color: #7286D3;
}